body{
    background-image: url("OIP\ \(2\).jpeg");
}
button{
    box-shadow: 5px 5px 5px grey;
    width:120em;
}
canvas{
    background-color: grey;
    box-shadow: 5px 5px 5px grey;
    margin: 50px;
}
